/* FORMATEANDO  */
*{
  /* el selector global asterisco ( * ) afecta el documento globalmente */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
  line-height: 32px;
}

/* FORMATEANDO EL HEADER */
.header {
  background-color: #2a2a2a;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.SD-Logo {
  display: inline-block;
  width: 250px;
  margin: 15px;
  vertical-align: middle;
}

.header nav ul {
  list-style: none;
  margin-top: 15px;
}

.header nav ul li {
  margin: 0px 15px;
  display: inline-block;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight:500;
  background-color:crimson;
  border: solid 6px crimson;
  font-weight: bold;
}

.header nav ul li a:hover {
  color:tomato;
  text-decoration: underline;
  background-color: #2a2a2a;
  border: none
  ;
}

/* ESTILOS AL CUERPO DE LA PÁGINA */

main {
  text-align: center;
}
#about {
  padding: 80px 20px 20px;
}
#about p {
  text-align: justify;
  width:min(1000px, 100%);
  margin-left: auto;
  margin-right: auto;
}
#about img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  /* max-width asegura que la imagen no crezca más de su resolución */
  text-align: center;
  border: solid 2px ;
}
.gallery {
  text-align: center;
  margin-bottom: 50px;
}
.gallery h2 {
  color: crimson;
  margin-bottom: 15px;
}
.gallery div.cajas {
  display: inline-block;
}
.gallery img {
  width: auto;
  height: 500px;
  margin: 5px 10px 0px;
  border: double 6px gray;
  box-shadow: 0px 6px 5px lightgray;
  opacity: 0.80;
}
.gallery p {
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.gallery img:hover {
  border: solid 6px red;
  opacity: 1;
  transition: .2s;
  box-shadow: 0px 2px 5px gray;
}

footer {
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}